@charset "ISO-8859-1";


@media screen and (max-width: 480px){
	body{
		margin: 0 auto;
	}
	
	.product_div{
		width: 101%;
		margin-top: 15%;
	}
	
	.product_image{
		width: 90%;
		height: 300px;
		margin: 0 auto;
		margin-top: 1%;
		border: 2px solid pink;
		border-radius: 5px;
	}
	
	.product_image img{
		width: 100%;
		height: 100%;
	}
	
	.product_description{
		width: 70%;
		margin: 0 auto;
		margin-top: 1%;
	
	}
	.title{
		margin: 0 auto;
	
	}
	
	.title input[type="text"]{
		border: none;
		font-size: 20px;
		font-weight: bold;
	
	}
	
	.title input[type="text"][value]{
		text-align: center;
	}
	
	.description{
		margin: 0 auto;
	}
	
	.description p{
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}
	
	.prezzo{
		margin: 0 auto;
	}
	
	.prezzo p{
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}
	
	.taglie_acquisto{
		text-align: center;
	}
	
	.taglie_acquisto input{
		font-size: 15px;
		padding: 5%;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		color: black;
		background: pink;
	}

	.taglie_acquisto input:hover{
		color: pink;
		background: black;
	}
}

@media screen and (min-width: 480px){
body{
	margin: 0;
	
}



.product_div{
	width: 99.7%;

}

.product_div input[type="text"]{
	border: none;
	font-size: 25px;
}

.product_image{
	width: 40%;
	height: 500px;
	margin: 0 auto;
	margin-top: 1%;
	border: 2px solid black;
	
}

.product_image img{
	width: 100%;
	height: 100%;
}

.product_description{
	width: 54%;
	margin: 0 auto;
	margin-top: 1%;
	
}

.title{
	
	font-size: 25px;
	font-weight: bold;
	color: pink;
	margin: 0 auto;
	text-align: center;
	
}

.title input[type="text"][value]{
	text-align: center;
}

.description{
	text-align: center;
	font-size: 15px;
	color: black;
	
	
}

.prezzo{
	width: 15%;
	text-align: center;
	margin: 0 auto;
	margin-left: 42%;
	font-size: 25px;
}

.taglie_acquisto{
	width: 15%;
	margin: 0 auto;
	margin-right: 43%;
	text-align: center;
}

.taglie_acquisto input{
	font-size: 15px;
	padding: 5%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	background: pink;
}

.taglie_acquisto input:hover{
	color: pink;
	background: black;
}

}



