@charset "ISO-8859-1";

/*DA MOBILE*/

@media screen and (max-width: 480px){
	body{
		background: pink;
		margin: 0 auto;
		width: 100%;
	}
	
	h1 { 
		font-weight: bold; 
		font-size: 30px; 
	}
	
	fieldset {
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
   
}

.fields{
	 width: 80%;
	 height: 500px;
	 margin: 0 auto;
	 
}

legend{
	background: white;
	font-size: 15px;
	font-weight: bold; 
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	
}

.content{
	margin-top: 25%;
	text-align: center;
	height: 50%;
}



.content input{
	color: black;
 	font-size: 15px;
 	margin-bottom:20px;
 	border-radius: 5px;
 	border: 2px solid gray;
}

.content input[placeholder]{
	text-align: center;
	color: pink;
}
	
	
.error_div{
	margin-top: 25%;
	
}

.error_div p{
	text-align: center;
	color: red;
	font-size: 15px;
	font-weight: bold;
}
	
.login{
	margin: 20%;
	text-align: center;
}

.login input{
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 3%;
	background: pink;
	font-size: 15px;
	font-weight: bold;
	
}

#error_username, #error_password{
	padding-left: 25px;
	text-align: center;
	font-size: 12px;
	color: red;
}

.login input:hover{
	background: black;
	color: pink;
}
	
}

/*DA PC*/

@media screen and (min-width: 480px) {
 body {
    background-color: pink;
 	margin: 0 auto;
	width: 80%;
 }
 
/* .login-div{
 	width: 1000px;
 	height: 600px;
 	margin: 0 auto;
 	margin-top: 120px;
 	border: 5px solid pink;
 	border-radius: 5px;
 	background-color: rgb(255, 255, 255, 0.9);
 
 }*/
 
  * { font-family: 'didot', 'sans serif'; } 
  
  h1, input, textarea, select, option, legend { 
	color: #555;
	 } 
	 
	 
h1 { 
	font-weight: bold; 
	font-size: 30px; }
 
#file { margin-left: 1px; border: 0px; }
 
#submit { margin-left: 99px; background-color: rgb(255, 209, 220, 0.3); 
color: #fff; border: 0px; font-weight: bold; font-size: 16px; 
} 

input, textarea, select { padding: 8px; border: 1px solid rgb(255, 209, 220, 0.3); border-radius: 5px; margin-bottom: 50px; } 

legend { background-color: white; font-weight: bold; padding: 10px; border: 1px solid rgb(141, 141, 141); } 

fieldset {
	border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    background-color: white;
   
}

.fields{
	 width: 50%;
	 height: 400px;
	 margin: 0 auto;
	 
}

 
 .login-content{
 	margin-top: 100px;
 }
 
.content{
 	width: 150px;
 	margin: 0 auto;
 }
 

 
 .textbox input{
 	color: black;
 	font-size: 15px;
 	margin-bottom:20px;
 	
 }

 input [placeholder]{
 	color: pink;
 }
 
 .button{
 	/*background: none;*/
 	border-radius: 4px;
 	border: 1px solid black;
 	
  	cursor: pointer;
 	transition: all 0.3s;
 	
 }
 
 .button:hover{
 	font-size: 15px;
 	background-color: rgb(255, 209, 220, 0.3);
 	
 }
 
 .login{
 	width: 270px;
 	margin-top: 20px;
 	 margin: 0 auto;
 	text-align: center;

 	
 	
 }
 
#error_username, #error_password{
	padding-left: 25px;
	text-align: center;
	font-size: 12px;
	color: red;
}

#username, #password{
	background-color: rgb(255, 209, 220, 0.1);
	border: 1px solid rgb(141,141,141);
	margin-left:-15px;
	
}

.error_div{
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	color: red;
}


}
