@charset "ISO-8859-1";


@media screen and (max-width: 480px){
	body{
		margin: 0 auto;
	}
	
	.fields{
		width: 90%;
		margin: 0 auto;
		margin-top: 3%;
		margin-bottom: 3%;
		border: 2px solid pink;
		border-radius: 5px;
		
	}
	
	.image_item{
		width: 70%;
		margin: 0 auto;
		float: left;
	}
	
	.item{
		width: 100%;
		height: 250px;
	}

	.item img{
		width: 100%;
		height: 100%;
	}
	
	.desc_item h3{
		margin-top: 5%;
		text-align: center;
	}
	
	.tot{
	margin-left: 10%;	
		float: left;
		text-align: center;
		
	}
	
}


@media screen and (min-width: 480px){

body{
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
	
.fields{
	width: 50%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 5px;
}

.fields legend{
	font-size: 15px;
	font-weight: bold;
}

.image_item{
	width: 30%;
	float: left;
}

.vuoto a{
	text-decoration: none;
	cursor: pointer;
}

.vuoto a:hover{
	color: pink;
}

.item{
	width: 100%;
	height: 250px;
}

.item img{
	width: 80%;
	height: 80%;
}

.desc_item h3{
	margin-top: 5%;
	text-align: center;
}

.tot{
	margin-top: 10%;
}

.tot h3{
	text-align: center;
}
}