@charset "UTF-8";

@media screen and (max-width:480px) {

	body{
	margin:0 auto;
	width: 100%;
	}

.logoimg{
	margin-top:5px;
	margin-left:0px;
}	


.logo{
	width:60px; height:60px;
}

.menu,.content-menu{
	width:100%;
	text-align:center;
	padding-left:0px;
}

ul#lista li {
	font-size:15px;
	padding:5px;
}

.colonna1,.colonna2,.colonna3{
text-align:center;
}



.tipi{
	height:350px;
}

.navigation-manual{
	margin-top:-20px;
	size:10%;
}

.slide img{
	max-width:100%;
	height:200px;
     margin-top:0px;
}

.slider{
    width: 100%;
    height: auto;
    margin-top:20px;
    border-radius: 5px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: auto;
    display: flex;
    margin-top:20px;
}

.slides input{
    display: none;
}


.descrizione h2{
	font-size:15px;
	margin-left:-30px;

}
.descrizione{
	line-height:20px;

}

.descrizione p{
		margin-left:-38px;
}

p{
	font-size:10px;

}

.immagine{
	height:300px;
	width:170px;
	margin-left:5px;
}

.information-div{
	height:350px;
}

.descrizione1 h2{
	font-size:15px;
    margin-left:-10px;
}

.descrizione1{
	line-height:20px;
	margin-top:-200px;
	margin-left:155px;
}

.immagine1{
	height:240px;
	width:280px;
	margin-left:-50px;
}



.information-div1{
	height:350px;
}

.container_content{
	padding-left:0px;
	margin-left:-65px;
	margin-top:20px;
}

span.title{
    font-size: 15px;
    font-family: didot;
}

.container_content ul li{
	font-size:13px;
}

span.subtitle{
	font-size:14px;
}

ul.pagaments{
	padding-top:10px;
}

.header1{
	width: 100%;

}


.colonna2{
	display:none;
}

.colonna3{
  margin-left: 45%;
}


nav{
    height:63.5%;
    background-color:pink;
    position:absolute;
    width:41.1%;
    margin-top:0px;
    visibility:hidden;
    overflow:auto;     
}



nav ul li a {
    padding-bottom:30px;
    padding-right:30px;
    display:block;
    color:black;
    font-size:18px;
    transition: background-color 0.1s ease;
    text-decoration:none;
    text-align: center;
    margin-right: 5%;
    
}

nav ul li{
	list-style-type:none;
}

 

.submenu{
    color:pink;
    padding-bottom: 5px;
}



/*  bar per l'attivazione del menu */

 

#bar{
    background-color: pink ;
    height:10px;
    width:40%;
    z-index:1;
    position:absolute;
    /*box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.4);*/
}

.menu-visibility{
	z-index:1;
	
}

#bar #logo{
    float:right;
}

#hamburger {
  display: none;
}

.menuicon {
   
    height:0px;
    width:70px;
    margin-left:0px;
    z-index:3;
}

#imgmenu{
	margin-top:10px;
	margin-left:80px;
}

#imgcar{
	display:none;
}

.info{
	display:none;
}

.numerino{
	margin-left:35px;
	margin-top:-40px;
}

.menuicon  span {
    display: block;
    top: 25px;
    width: 40px;
    height:3px;
    left:0px;
    background-color: #fff;
    position: relative;
    border-radius:20px;
    transition-duration: 0.5s;  
    transition-delay: 0.5s;
}


.menuicon  span::before {
      margin-top: -10px;
}
.menuicon  span::after {
      margin-top: 10px;
} 

#hamburger:checked ~ .menu-visibility {
      visibility:visible;
}
    

#bar,#logo,#imgmenu{
	display:block;
}

nav{
display:block;	
}

.header{
	width:100%;
	margin :0 auto;
}


}