@charset "ISO-8859-1";


@media screen and (max-width: 480px) {
	body{
		width: 100%;
		margin: 0 auto;
	}
	
	.shopmain{
		width: 100%;
		height: 658px;
		margin: 0 auto;
	}
	
	.category{
		width: 40%;
		height: 100%;
		float: left;
	}
	
	.products_content{
		margin-top: 5px;
	}
	
	.products{
		width: 55%;
		text-align: end;
		margin-left: 2%;
		float: left;
		height: 100%;
		overflow: auto;
	}
	
	.product input{
		border: none;
		background: pink;
		border-radius: 5px;
		font-size: 15px;
		font-weight: bold;
	}
	
	.produdct span{
		font-size: 15px;
		font-weight: bold;
	}
	
	.products img{
		width: 98%;
		height: 98%;
		margin: 1%;
	}
	
	.remove_product input{
		border: none;
		border-radius: 5px;
		background: red;
		font-weight: bold;
	
	}
	
	.buy_price{
		text-align: center;
	}
	
	.content_category input[type="text"]{
		height: 50px;
		width: 94.5%;
	}
	
	.content_category input[type="submit"]{
		width: 100%;
		border: none;
		font-size: 15px;
		font-weight: bold;
		height: 100px;
		-webkit-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        -moz-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        -o-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        box-shadow: inset 5px 4px 16px 0px #bdbcbf;
	}
	
	.content_category button{
		width: 100%;
		border: none;
		font-size: 15px;
		font-weight: bold;
		height: 100px;
		
	}
	
	#cose{
		display: none;
	}
	
	.carrello{
		border-top: 5px solid pink;
		float: left;
		margin-top: -2px;
		overflow: auto;
   		height: 350px;
	}
	
	#content_search{
	display: none;
	width: 35%;
	z-index: 10;
	position: absolute;
	background: pink;
}

#content_search a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#cerca{
	width: 100%;
	padding: 3%;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	
}



#content_search a:hover{
	text-decoration: none;
	color: white;
}
	
}


@media screen and (min-width: 480px){


body{
	font-family:didot,serif;
	width:99%;
	margin: 0 auto;
}

.category{
	width: 15%;
	float: left;
	background: white;
}

.price a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 19px;
	transition: .5s all;
}

.price a:hover{
	color: pink;
	font-size: 23px;
	transition: .5s all;

}

.content_category{	
	width: 100%;
	height: 570px;
	text-align: center;
	overflow: auto;
	float: left;
}

.content_category input[type="text"]{
	padding: 5px 5px;
	margin: 3px 3px;
	size: 10%;
}

.content_category input[type="submit"]{
	padding: 3%;
	width: 100%;
	height:105px;
	cursor: pointer;
	border: none;

	-webkit-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
    -moz-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
    -o-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
    box-shadow: inset 5px 4px 16px 0px #bdbcbf;

		transition: 0.5s all;


    
}

.content_category button{
	padding: 3%;
	width: 100%;
	height:105px;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        -moz-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        -o-box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        box-shadow: inset 5px 4px 16px 0px #bdbcbf;
        transition: 0.5s all;

}

.content_category button:hover{
	background-color: rgb(255, 192, 203);
	transition: 0.5s all;
	
}

.content_category button{
	font-weight: bold;
	font-size: 15px;
}

#content_search{
	display: none;
	width: 15%;
	z-index: 10;
	position: absolute;
	background: pink;
}

#content_search a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#cerca{
	padding: 0%;
	width: 100%;
	height: 5%;
	z-index: 2;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	
}

#content_search a:hover{
	text-decoration: none;
	color: white;
}

.content_category input[type="submit"]:hover{
	background-color: rgb(255, 192, 203);
	transition: 0.5s all;
}

.content_category input[type="submit"][value]{
	font-weight: bold;
	font-size: 15px;
}

.content_category input[type="submit"][value]:hover{
	color: black;

}

.products{
	width: 84%;
	margin-left: 13px;
	float: left;
}

.products_title{
	text-align: center;
}

.products_content{
	background-color: rgb(230,230,230,0.5);
	overflow: auto;
	width: 100%;
	height: 550px;
	background-position: center center;
	border-left:1px solid rgb(141,141,141);   
                     /*BORDI*/
}

.list{
	width: 99%;
	height: 99%;
	text-align: center;
}

.product{
	background:white;
	float: left;
	width: 19.3%;
	height: 275px;
	border: 1px solid rgb(141,141,141);
	border-radius: 5px;
	margin-right: 2px;
	margin-top: 3px;
	margin-left:4px;
}

.remove_product{
	text-align: left;
	margin: 1%;
}

.remove_product input{
	border: none;
	background: red;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}

.carrello{
	overflow-x: hidden;
	overflow-y: hidden;
	float: left;
	width: 100%;
	height: 250px;
	border-top: 1px solid rgb(141,141,141);
}

.item{
	background: white;
	float: left;
	width: 15%;
	height: 200px;
	border: 1px solid rgb(141,141,141);
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 15px;
	
}

#footer{
	width: 100%;
	float: left;	
	
}

.image_product{
	margin: 0 auto;
	margin-top: 5%;
	
}

.image_product img{
	border: 1px solid rgb(141,141,141);
	border-radius: 5px;
}

.buy_price{
	margin-top: 6%;
}

.buy_button{
	float: left;
	padding-left: 25%;
}

.buy_button input[type="submit"]{
	background: pink;
	font-size: 15px;
	font-weight: bold;
	border: none;
	padding: 3%;
	padding-left: 5%;
	padding-right: 5%;
	cursor: pointer;
	box-shadow: 0 1px 3px black;	
}

.buy_button input[type="submit"]:hover{
	background: white;
	color: black;	
	box-shadow: 0 1px 3px pink;
}

.product_name{
	padding-bottom: 3%;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.price{
	float: left;
	padding-left: 10%;
	
}

#cose{
	display: none;
}

}






























